




<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="pull-left">
                <ul class="list-inline">
                    <li><strong>{{ award.pi_name }}</strong></li>
                    <li><em>{{ award.organization }}</em></li>
                    <li>{{ award.pi_email }}</li>
                </ul>
            </div>
        </div>
         <div class="col-md">
            <div class="pull-right">
                <ul class="list-inline">
                    <li>{{ award.program }}</li>
                    <li>{{ award.award_number }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!--Safe allows html formatting for linebreaks but should be changed to \n and remove safe-->
        <p class="text-justify">{{ award.abstract|safe }}</p>
    </div>
</div>