<form action="" method="post" role="form">
    {{ form.csrf }}


    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="pervasive_data" name="pervasive_data">
                    <label class="form-check-label" for="pervasive_data">Pervasive data</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="big_data" name="big_data">
                    <label class="form-check-label" for="big_data">Big data</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="data_science" name="data_science">
                    <label class="form-check-label" for="data_science">Data science</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Data synonyms (separate with comma)</span>
                    </div>
                    <textarea class="form-control" id="data_synonyms" name="data_synonyms"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Comments</span>
                    </div>
                    <textarea class="form-control" id="comments" name="comments"></textarea>
                </div>
            </div>
        </div>
    </div>


    <br>
    <div class="container">
        <div class="row">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>

</form>
